.fav_item {
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.save_photo {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: cornflowerblue;
    padding: 5px;
    margin-top: 10px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}