.fav_item {
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.save_photo {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: cornflowerblue;
    padding: 5px;
    margin-top: 10px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.save_btn {
    cursor: pointer;
    height: 30px;
    width: 130px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: steelblue;
    color: #fff;
}

.info_row_container {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingo_text {
    max-width: 95%;
}

.delete_ingo_btn {
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.delete_ingo_btn:hover {
    transform: scale(1.1);
}

.device_buttons_container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.device_buttons_container button {
    margin-bottom: 5px;
}

.add_info_container {
    position: relative;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 600px;
}

.add_info_container > div {
    margin-bottom: 10px;
}

.add_info_container input {
    position: absolute;
    left: 100px;
    width: 400px;
}

.reg_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.pass_error {
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 43, 43, 0.5);
}

.pass_success {
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: rgba(104, 255, 28, 0.5);
}

.info_email_sended {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 15px;
    padding: 20px;
    background-color: rgba(104, 255, 28, 0.5);
}

.device_slider {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}

.device_slider img {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}

.carousel-control-prev {
    left: -50px;
}


.carousel-control-next {
    right: -50px;
}

.carousel-control-next-icon {
    background-image: url("https://img.icons8.com/plasticine/100/arrow.png") !important;
    transform: scale(1.5);
}

.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/plasticine/100/arrow.png") !important;
    transform: scale(1.5) rotate(180deg);
}

.device_photos_inputs_container p{
    margin: 5px 0;
}

.disabled-btns .carousel-control-prev, .disabled-btns .carousel-control-next {
    display: none;
}

.profile_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "profile_email photo_container"
        "change_photo photo_container";
}

.profile_email {
    grid-area: profile_email;
    display: flex;
    flex-direction: column;
}

.change_photo {
    grid-area: change_photo;
}

.photo_container {
    grid-area: photo_container;
    min-height: 200px;
}

.photo_container img {
    max-width: 400px;
}